
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Définition des couleurs principales de MyTeam */
:root{
    --blue1: #007add;
    --blue2: #5ebfec;
}

/* Définition du style global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    margin: 0px;
}
main{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}
img{
    border-radius: 50%;
}

/* Définition du style de accueil.php */
body{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, var(--blue1) 50%, var(--blue2));
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}
.circle1{
    top: 5%;
    right: 7%;
}
.circle2{
    bottom: 5%;
    left: 6%;
}
body #container-accueil{
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    backdrop-filter: blur(1rem);
    overflow: hidden;
}
body #container-accueil #accueil-left{
    width: auto;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: transform ease-in-out 0.3s;
    z-index: 1;
}


body #container-accueil #accueil-right{
    width: auto;
    height: 100%;
    padding: 20px 60px;
    overflow: hidden;
    z-index: -1;
}

/* definition du style de messagerie.php */
#block{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

#accueil-left a#lien_retour i{
    font-size: 30px;
    color: #000;
}
#accueil-left a#lien_retour i:hover{
    color: var(--blue1);
}

#accueil-left form{
    width: 100%;
    display: flex;
    margin: 5px 0px;
}
#accueil-left form input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 15px;
    width: 80%;
    height: 35px;
}
#accueil-left form button{
    width: 10%;
    min-width: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    background-color: #fff;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#accueil-left form button i{
    font-size: 20px;
    color: #000;
}
#accueil-left form button i:hover{
    color: var(--blue1);
}

#liste-contacts{
    max-height: 65vh;
    overflow: auto;
    z-index: 1000;
}
#liste-contacts a{
    text-decoration: none;
}

.contacts{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.contacts img{
    margin-right: 10px;
}
.contacts p{
    color: #000;
    word-break: break-word;
}

#btn-contact{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 280px;
    display: none;
    transition: ease-in-out 0.3s;
}
#btn-contact i{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
}

.no-get{
    display: flex;
    align-items: center;
    width: 60vw;
    max-width: 100%;
    height: 100%;
    text-align: center;
}
.get{
    width: 60vw;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.reseau-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.reseau-header img{
    margin-right: 10px;
}

.reseau-content{
    height: calc(100% - 100px);
    background-color: #babcbd61;
    padding: 10px;
    box-shadow: inset 3px 3px 25px -15px rgba(0,0,0,0.75);
    overflow: auto;
    border-radius: 5px;
}

.envoye{
    display: flex;
    justify-content: flex-end;
}
.recus{
    display: flex;
    justify-content: flex-start;
}
.message p{
    min-width: 25px;
    max-width: 80%;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
    word-break: break-word;
}
.envoye p{
    background: linear-gradient(0.45turn, rgba(46, 255, 255, 47%), rgba(37, 95, 144, 58%));
    border-bottom-right-radius: 0px;
}
.recus p{
    background: linear-gradient(0.45turn, rgba(255, 255, 255, 35%), rgba(135, 134, 134, 50%));
    border-bottom-left-radius: 0px;
}

.reseau-footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.reseau-footer form{
    display: flex;
    justify-content: space-between;
}
.reseau-footer form #form1{
    width: 100%;
    display: flex;
}
.reseau-footer form #form1 input{
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 3px;
    padding: 5px 15px;
    border: none;
    outline: none;
    height: 35px;
}
.reseau-footer form #form1 button{
    background-color: #fff;
    padding-right: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    display: flex;
    align-items: center;
}
.reseau-footer form #form1 button:hover{
    color: var(--blue1);
}

.reseau-footer form button#signaler{
    width: 50px;
    background-color: rgb(189, 52, 52);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.5s ease-in-out background;
}
.reseau-footer form button#signaler:hover{
    background: rgb(158, 44, 44);
}

.warn-message-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.warn-message-background .warn-message{
    background-color: #fff;
    padding: 20px;
    width: 30%;
    min-width: 15%;
}
.warn-message-background .warn-message .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.warn-message-background .warn-message .header p{
    font-size: 20px;
}
.warn-message-background .warn-message .header i{
    font-size: 20px;
    cursor: pointer;
}
.warn-message-background .warn-message .header i:hover{
    color: red;
}
.warn-message-background .warn-message hr{
    margin: 10px 0px;
}
.warn-message-background .warn-message table{
    width: 100%;
}
.warn-message-background .warn-message tr td{
    border: 2px solid #000;
    border-collapse: collapse;
    padding: 10px 15px;
}
.warn-message-background .warn-message tr td button{
    background-color: #fff;
    border: none;
    outline: none;
    color: rgb(184, 30, 30);
}
.warn-message-background .warn-message tr td:nth-last-child(-n+1){
    display: flex;
    justify-content: center;
}


/* responsive */
@media screen and (max-width: 1100px){
    body{
        height: auto;
        padding: 40px;
    }
    #container-accueil{
        min-height: 78vh;
        height: auto !important;
        max-height: 90vh;
        min-width: 600px;
        width: 84vw !important;
        display: flex;
        flex-direction: column;
    }
    #accueil-right{
        width: 100% !important;
    }
    #accueil-left{
        position: absolute;
        transform: translate(-100%, 0px);
        background-color: rgba(162, 225, 235, 90%) !important;
    }
    #btn-contact{
        display: block;
    }
    .no-get, .get{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    body{
        padding: 0px!important;
        height: 100vh;
    }
    main{
        height: 100%;
    }
    #container-accueil{
        min-width: 0px !important;
        width: 100% !important;
        max-height: 100% !important;

    }
    #accueil-right{
        padding: 20px !important;
    }
    .reseau-header{
        display: flex;
        justify-content: center;
    }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(153, 152, 152, 0.8);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: rgb(143, 143, 143);
}