@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Définition des couleurs principales de MyTeam */
:root{
    --blue1: #007add;
    --blue2: #5ebfec;
}

/* Définition du style global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p{
    margin-bottom: 0px;
}

/* Définition du style de connexion.php aka index.php */
body{
    background: linear-gradient(to left, var(--blue1) 50%, var(--blue2));
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    position: absolute;
    top: 1%;
    left: 3%;
    cursor: pointer;
}

.block{
    margin: 80px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    padding: 30px 50px;
    max-width: 900px;
}
.block a{
    text-decoration: none;
    color: #fff;
}
.block hr{
    height: 2px;
    background-color: #fff;
}
.block .titre{
    text-align: center;
}
.block .bt{
    text-align: center;
    margin: 50px 0;
}
.block .bt p{
    font-size: 16px;
}
/* body .circle1, .circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}
body .circle1{
    top: 5%;
    right: 20%;
}
body .circle2{
    bottom: 5%;
    left: 18%;
} */

/* .mentions_legales{
    width: 50%;
    min-height: 75vh;
    max-height: 75vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    padding: 15px 15px 30px 15px;
    margin: 5% 0px;
    overflow-y: auto;
}

body .mentions_legales .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
body .mentions_legales .title h1{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
}

body .mentions_legales .zones{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body .mentions_legales .zones .zone{
    width: 100%;
    border: 1px solid #666;
    display: flex;
    margin: 10px 0;
}
body .mentions_legales .zones .zone .illustration{
    display: flex;
}
body .mentions_legales .zones .zone .illustration img{
    width: 40px;
    object-fit: contain;
}

body .mentions_legales .zones .zone .texte{
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 10px;
}
body .mentions_legales .zones .zone .action{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
}
body .mentions_legales .zones .zone .action a{
    text-decoration: none;
    color: #000;
}

body .mentions_legales .texte{
    width: 100%;
}
body .mentions_legales .texte h1{
    font-size: 18px;
    font-weight: 500;
}
body .mentions_legales .texte p{
    font-size: 13px;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px){
    .circle1, .circle2{
        display: none;
    }

    .mentions_legales{
        width: 90%;
    }
} */