@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Définition des couleurs principales de MyTeam */
:root{
    --blue1: #007add;
    --blue2: #5ebfec;
}

/* Définition du style global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* Définition du style de accueil.php */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, var(--blue1) 50%, var(--blue2));
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}
.circle1{
    top: 5%;
    right: 7%;
}
.circle2{
    bottom: 5%;
    left: 6%;
}

body .container-accueil{
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    backdrop-filter: blur(1rem);
}
body .container-accueil .accueil-left{
    width: 30%;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
body .container-accueil .accueil-left .left-actions{
    width: 100%;
    height: 7%;
}
body .container-accueil .accueil-left .left-actions a{
    text-decoration: none;
    margin: 0 2px;
}
body .container-accueil .accueil-left .left-header{
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
body .container-accueil .accueil-left .left-header img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3px;
}
body .container-accueil .accueil-left .left-header p{
    margin-bottom: 0;
}
body .container-accueil .accueil-left .left-header p#nomAndPrenom{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 3px;
}
body .container-accueil .accueil-left .left-header p#poste{
    font-size: 14px;
    color: rgb(83, 83, 83);
    font-weight: 400;
}
body .container-accueil .accueil-left .left-content{
    width: 100%;
    height: 51%;
}
body .container-accueil .accueil-left .left-content ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body .container-accueil .accueil-left .left-content ul a{
    text-decoration: none;
    color: #111;
}
body .container-accueil .accueil-left .left-content ul a li{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    transition: 0.5s ease color;
}
body .container-accueil .accueil-left .left-content ul a li:hover{
    color: rgb(110, 110, 110);
}
body .container-accueil .accueil-left .left-footer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container-accueil .accueil-left .left-footer a{
    text-decoration: none;
    width: 75%;
    height: 55%;
    color: #fff;
    background-color: var(--blue1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.5s ease background;
}
body .container-accueil .accueil-left .left-footer a:hover{
    background: rgb(2, 141, 255);
}

body .container-accueil .accueil-right{
    width: 70%;
    height: 100%;
    padding: 20px 60px;
}
body .container-accueil .accueil-right a.rocket{
    position: fixed;
    bottom: 4%;
    left: 32%;
    animation: bounce 0.35s ease infinite alternate;
}
@keyframes bounce{
    from{transform: translateY(0);}
    to{transform: translateY(-8px);}
}
body .container-accueil .accueil-right a.rocket:hover {
    cursor: help;
}
body .container-accueil .accueil-right a.rocket span {
    display: none
}
body .container-accueil .accueil-right a.rocket:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}
body .container-accueil .accueil-right .right-header{
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: column;
}
body .container-accueil .accueil-right .right-header form{
    width: 90%;
    height: 65%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container-accueil .accueil-right .right-header form img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
body .container-accueil .accueil-right .right-header form input{
    border: 1px solid gray;
    border-radius: 30px;
    background: #fff;
    font-size: 15px;
    width: 70%;
    height: 45px;
    padding: 0 15px;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease background;
}
body .container-accueil .accueil-right .right-header form input:hover{
    background: #EBEBEB;
}
body .container-accueil .accueil-right .right-header .filtres{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container-accueil .accueil-right .right-header .filtres hr{
    width: 65%;
    margin-right: 10px;
}
body .container-accueil .accueil-right .right-header .filtres p{
    margin: 0;
    font-size: 12px;
    color: rgb(66, 66, 66);
    margin-right: 5px;
}
body .container-accueil .accueil-right .right-header .filtres button{
    background: none;
    border: none;
    color: rgb(66, 66, 66);
    font-size: 12px;
    margin: 0 5px;
    outline: none;
    transition: 0.5s ease color;
}
body .container-accueil .accueil-right .right-header .filtres button:hover{
    color: #111;
}
body .container-accueil .accueil-right .right-content{
    width: 100%;
    height: 77%;
    max-height: 77%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
body .container-accueil .accueil-right .right-content::-webkit-scrollbar{
    display: none;
}
body .container-accueil .accueil-right .right-content .carte-publication{
    width: 95%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px auto;
    border-radius: 5px;
    padding: 5px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-header{
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-right{
    width: 25%;
    height: 100%;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-right p{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 11px;
    color: rgb(56, 56, 56);
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content{
    width: 100%;
    padding: 8px 10px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content p{
    word-break: break-all;
    margin-bottom: 0;
    font-size: 14px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions{
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    height: 25px;
    padding: 0 10px;
    margin-top: 15px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions .actions{
    display: flex;
    width: 50%;
    align-items: center;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions .actions form{
    height: 100%;
    display: flex;
    align-items: center;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions .actions form button:hover{
    text-decoration: underline;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions .actions button{
    color: #111;
    font-size: 11px;
    background: none;
    border: none;
    outline: none;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions .jaime{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions .jaime i{
    font-size: 12px;
    margin-right: 3px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions a{
    display: flex;
    align-items: center;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-content .content-actions a:nth-child(2){
    margin-left: 5px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses form{
    display: flex;
    flex-direction: column;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses textarea{
    resize: none;
    padding: 5px;
    font-size: 12px;
    outline: none;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses hr{
    margin: 3px 0 5px 0;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses hr.hr2{
    margin-top: 10px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses button{
    border: none;
    padding: 5px;
    font-size: 13px;
    width: 25%;
    margin-top: 8px;
    background: var(--blue1);
    color: #fff;
    letter-spacing: 0.5px;
    transition: 0.5s ease background;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses button:hover{
    background: rgb(27, 76, 182);
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses .reponse{
    width: 95%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses .reponse .reponse-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses .reponse .reponse-header img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
body .container-accueil .accueil-right .right-content .carte-publication .publication-reponses .reponse .reponse-header h6{
    margin-bottom: 0;
}

/* Pop-up de publication */
body .clickPublications{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
body .clickPublications .newPub{
    background-color: #fff;
    width: 40%;
    /* height: 80vh; */
    padding: 20px;
    border-radius: 5px;
}
body .clickPublications .newPub .header{
    display: flex;
    justify-content: space-between;
}
body .clickPublications .newPub .header h1{
    margin: 20px 0 0 30px;
    font-size: 20px;
    font-weight: 400;
}
body .clickPublications .newPub .header p{
    margin: 20px 30px 0 0;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}
body .clickPublications .newPub .profil{
    height: 10%;
    width: 100%;
    padding: 0 30px 0 30px;
    display: flex;
}
body .clickPublications .newPub .profil img{
    border-radius: 50%;
    object-fit: cover;
}
body .clickPublications .newPub .profil p{
    margin: 0;
    font-weight: 600;
    line-height: 20px;
}
body .clickPublications .newPub .profil small{
    color: #000000ad;
}
body .clickPublications .newPub .profil .npp{
    margin-left: 20px;
}
body .clickPublications .newPub .contenu{
    height: 50%;
    width: 100%;
    padding: 10px 30px 0 30px;
    margin-bottom: 10px;
}
body .clickPublications .newPub .contenu form{
    height: 95%;
}
body .clickPublications .newPub .contenu textarea{
    resize: none;
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
}
body .clickPublications .newPub .contenu button[type = 'button']{
    border: none;
    background: none;
    color: rgb(0, 47, 202);
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}
body .clickPublications .newPub .contenu button[type = 'button']:hover{
    background: rgba(0, 54, 233, 0.1);
}
body .clickPublications .newPub .contenu button[type = 'submit']{
    float: right;
    border: none;
    background: rgba(223, 215, 215, 0.4);
    cursor: pointer;
    border-radius: 20px;
    width: 20%;
    outline: none;
    height: 25px;
    background: rgb(0, 50, 214);
    color: #fff;
    font-weight: 600;
    transition: background 0.3s ease;
}
body .clickPublications .newPub .contenu button[type = 'submit']:hover{
    background: rgb(0, 40, 172);
}
body .clickPublications .newPub .interactionsUtilisateur{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(223, 215, 215, 0.4);
    padding: 10px 30px 0 30px;
    height: 23.7%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body .clickPublications .newPub .interactionsUtilisateur input{
    display: none;
}
body .clickPublications .newPub .interactionsUtilisateur label{
    cursor: pointer;
    background: #fff;
    padding: 8px;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 5px;
    transition: background 0.5s ease;
}
body .clickPublications .newPub .interactionsUtilisateur input:hover + label{
    background: rgba(223, 215, 215, 0.4);
}
body .clickPublications .newPub .interactionsUtilisateur input:checked + label{
    background: rgba(0, 54, 233, 0.2);
}
body .clickPublications .newPub .autres{
    width: 100%;
    margin-top: 20px;
}
body .clickPublications .newPub .autres i{
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
body .clickPublications .newPub .autres i:hover{
    background: rgba(0, 54, 233, 0.3);
}

/* Projet */
body .container-accueil .accueil-right .projets-header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container-accueil .accueil-right .projets-header h1{
    font-weight: 400;
}
body .container-accueil .accueil-right .projets-content{
    display: flex;
    flex-wrap: wrap;
    max-height: 77%;
    justify-content: space-between;
    overflow-y: scroll;
}
body .container-accueil .accueil-right .projets-content::-webkit-scrollbar{
    display: none;
}
body .container-accueil .accueil-right .projets-content .carte{
    width: 350px;
    
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    border-radius: 10px;
}
body .container-accueil .accueil-right .projets-content .carte .card-image{
    width: 100%;
    height: 40%;
}
body .container-accueil .accueil-right .projets-content .carte .card-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
body .container-accueil .accueil-right .projets-content .carte .card-title{
    padding: 10px 10px 0px 10px;
    margin-bottom: 0;
}
body .container-accueil .accueil-right .projets-content .carte .card-title p{
    margin-bottom: 5px;
    font-style: italic;
}


/* Profil */
body .container-accueil .accueil-right .profil-header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container-accueil .accueil-right .profil-header h1{
    font-weight: 400;
}
body .container-accueil .accueil-right .profil-content{
    width: 100%;
    height: 70%;
}
body .container-accueil .accueil-right .profil-content form{
    width: 100%;
    height: 100%;
}
body .container-accueil .accueil-right .profil-content form .content-box{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body .container-accueil .accueil-right .profil-content form .content-box label{
    font-weight: 500;
    margin-bottom: 2px;
}
body .container-accueil .accueil-right .profil-content form .content-box input{
    height: 35px;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}
body .container-accueil .accueil-right .profil-footer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container-accueil .accueil-right .profil-footer button{
    width: 50%;
    height: 50%;
    border: none;
    border-radius: 5px;
    background: var(--blue1);
    color: #fff;
}


/* Reponsivité */
@media screen and (max-width: 1500px){
    body .container-accueil .accueil-right .right-header .filtres p, body .container-accueil .accueil-right .right-header .filtres button{
        font-size: 9px;
    }
    body .container-accueil .accueil-right .right-header .filtres hr{
        width: 60%;
    }
}

@media screen and (max-width: 1200px){
    body .container-accueil .accueil-left .left-actions .btnDeconnexion, body .container-accueil .accueil-left .left-actions .btnAdmin{
        width: 25px;
    }
    body .container-accueil .accueil-right .right-header .filtres hr{
        width: 50%;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-right p{
        font-size: 9px;
    }
}

@media screen and (max-width: 1010px){
    body .container-accueil .accueil-left .left-header img{
        width: 50px;
        height: 50px;
    }
    body .container-accueil .accueil-left .left-header p#nomAndPrenom{
        font-size: 17px;
    }
    body .container-accueil .accueil-left .left-header p#poste{
        font-size: 12px;
        color: rgb(83, 83, 83);
        font-weight: 400;
    }
    body .container-accueil .accueil-left .left-content ul a li{
        font-size: 14px;
    }
    body .container-accueil .accueil-left .left-footer a{
        font-size: 15px;
    }
    body .container-accueil .accueil-right .right-header form img{
        width: 40px;
        height: 40px;
    }
    body .container-accueil .accueil-right .right-header form input{
        font-size: 13px;
        width: 70%;
        height: 35px;
    }
    body .container-accueil .accueil-right .right-header .filtres hr{
        width: 40%;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-right p{
        font-size: 8px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left img{
        width: 30px;
        height: 30px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left p{
        font-size: 14px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-content p{
        font-size: 12px;
    }
}

@media screen and (max-width: 960px){
    body .container-accueil{
        background: none;
        display: block;
    }
    body .container-accueil .accueil-left{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    body .container-accueil .accueil-right{
        border-radius: 5px;
    }
    body .container-accueil .accueil-right{
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
    }
    body .container-accueil .accueil-right a.rocket{
        position: fixed;
        top: 188%;
        left: 92%;
    }
    body .container-accueil .accueil-left .left-actions .btnDeconnexion, body .container-accueil .accueil-left .left-actions .btnAdmin{
        width: 35px;
    }
    body .container-accueil .accueil-left .left-header img{
        width: 90px;
        height: 90px;
    }
    body .container-accueil .accueil-left .left-header p#nomAndPrenom{
        font-size: 25px;
    }
    body .container-accueil .accueil-left .left-header{
        height: auto;
    }
    body .container-accueil .accueil-left .left-header p#poste{
        font-size: 18px;
        color: rgb(83, 83, 83);
        font-weight: 400;
    }
    body .container-accueil .accueil-left .left-content ul a li{
        font-size: 20px;
    }
    body .container-accueil .accueil-left .left-footer a{
        font-size: 20px;
        margin-bottom: 20px;
    }

    body .container-accueil .accueil-right .right-header form img{
        width: 55px;
        height: 55px;
    }
    body .container-accueil .accueil-right .right-header form input{
        font-size: 16px;
        height: 45px;
    }
    body .container-accueil .accueil-right .right-header .filtres hr{
        width: 60%;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-right p{
        font-size: 11px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left img{
        width: 40px;
        height: 40px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left p{
        font-size: 18px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-content p{
        font-size: 14px;
    }
}

@media screen and (max-width: 800px){
    body .container-accueil .accueil-right{
        padding: 10px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication{
        width: 100%;
        min-height: 40%;
        height: auto;
    }
    body .container-accueil .accueil-right a.rocket{
        top: 188%;
        left: 103%;
    }
}

@media screen and (max-width: 500px){
    body .container-accueil .accueil-left .left-actions .btnDeconnexion, body .container-accueil .accueil-left .left-actions .btnAdmin{
        width: 25px;
    }
    body .container-accueil .accueil-left .left-header img{
        width: 50px;
        height: 50px;
    }
    body .container-accueil .accueil-left .left-header p#nomAndPrenom{
        font-size: 16px;
    }
    body .container-accueil .accueil-left .left-header p#poste{
        font-size: 13px;
        color: rgb(83, 83, 83);
        font-weight: 400;
    }
    body .container-accueil .accueil-left .left-content ul a li{
        font-size: 14px;
    }
    body .container-accueil .accueil-left .left-footer a{
        font-size: 14px;
        margin-bottom: 0px;
    }

    body .container-accueil .accueil-right .right-header form img{
        width: 35px;
        height: 35px;
    }
    body .container-accueil .accueil-right .right-header form input{
        font-size: 13px;
        height: 30px;
    }
    body .container-accueil .accueil-right .right-header .filtres hr{
        width: 10%;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-right p{
        font-size: 8px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left img{
        width: 30px;
        height: 30px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-header .header-left p{
        font-size: 12px;
    }
    body .container-accueil .accueil-right .right-content .carte-publication .publication-content p{
        font-size: 11px;
    }
    .circle1, .circle2{
        display: none;
    }
}



body .main_div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
}

body .main_div .top_left{
    display: flex;
    align-items: center;
    padding: 0px 15px;
    border: 2px solid #000;
    border-top-left-radius: 5px;
}
body .main_div .top_left p{
    margin-bottom: 0px;
    font-weight: 500;
}

body .main_div .top_right{
    border-left: none;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}
body .main_div .top_right::-webkit-scrollbar{
    display: none;
}
body .main_div .top_right div.date{
    border: 2px solid #111;
    border-right: none;
    font-size: 11px;
    font-weight: 500;
    height: 100%;
    min-width: 40px;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body .main_div .top_right div.date:nth-child(1){
    border-left: none;
}
body .main_div .top_right div.date:nth-last-child(-n+1){
    border-right: 2px solid #111;
}

body .main_div .bottom_left{
    border: 2px solid #111;
    border-top: none;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}
body .main_div .bottom_left::-webkit-scrollbar{
    display: none;
}
body .main_div .bottom_left div.bl_ligne{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: column;
    border: 2px solid #111;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 14px;
    justify-content: center;
    font-weight: 500;
    padding-left: 10px;
}
body .main_div .bottom_left div.bl_ligne:nth-child(1){
    border-top: none;
}
body .main_div .bottom_left div.nom_projet{
    height: 30px;
    border: 2px solid #111;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: rgb(221, 221, 221);
}
body .main_div .bottom_left div.nom_projet:nth-last-child(-n+1){
    border-bottom: none;
}

body .main_div .bottom_right{
    border: 2px solid #111;
    border-top: none;
    border-left: none;
    border-right: none;
    max-height: 100%;
    overflow-y: scroll;
}
body .main_div .bottom_right .classMain{
    display: flex;
    flex-wrap: wrap;
}
body .main_div .bottom_right .classMain .ligne_total{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
body .main_div .bottom_right{
    border: 2px solid #111;
    border-top: none;
    border-left: none;
    border-right: none;
    max-height: 100%;
    overflow-y: scroll;
}
body .main_div .bottom_right .classMain{
    display: flex;
    flex-wrap: wrap;
}
body .main_div .bottom_right .classMain .ligne_total{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
body .main_div .bottom_right .classMain .ligne_total div.total{
    border: 2px solid #111;
    border-bottom: none;
    border-right: none;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    min-width: 40px;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .main_div .bottom_right .classMain .ligne_total div.total:nth-last-child(-n+1){
    border-right: 2px solid #111;
}
body .main_div .bottom_right .classMain:nth-child(1) .ligne_total div.total{
    border-top: none;
}
body .main_div .bottom_right .ligne_total div.total:nth-child(1){
    border-left: none;
}
body .main_div .bottom_right .classMain div.ligne{
    display: flex;
}
body .main_div .bottom_right .classMain div.ligne div.detail{
    border: 2px solid #111;
    border-right: none;
    border-bottom: none;
    font-size: 12px;
    height: 30px;
    min-width: 40px;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .main_div .bottom_right .classMain div.ligne div.detail:nth-child(1){
    border-left: none;
}
body .main_div .bottom_right .classMain div.ligne div.detail:nth-last-child(-n+1){
    border-right: 2px solid #111;
}

.divMedia{
    min-height: 16.8px;
}

.red{
    background-color: rgb(255 126 126);
}
.yellow{
    background-color: rgb(236 232 162);
}
.green{
    background-color: rgb(163 236 182);
}
.grey{
    background: repeating-linear-gradient(56deg, rgb(59, 59, 59) 15px, rgb(59, 59, 59) 20px, grey 20px, grey 25px);
    color: white;
}